{% extends 'base.html.twig' %}

{% block content %}
    <div id="home" class="freelancer-hero" style="background-image: url(/assets/images/steve-big.jpg);">
        <div class="bg-overlay">

            <!-- Hero Content -->
            <div class="hero-content-wrapper">
                <div class="hero-content">

                    <h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.7s; animation-name: fadeIn;">Magnétiseur & médium</h4>
                    <h1 class="hero-lead wow fadeInUp" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">Steve David</h1>
                    <a href="#" class="btn btn-light btn-small wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">Contactez-moi</a>

                </div>
            </div>

            <!-- Scroller -->
            <a href="#services" class="scroller">
                <span class="scroller-text">scroll down</span>
                <span class="linea-basic-magic-mouse"></span>
            </a>

        </div><!-- / .bg-overlay -->
    </div>

    <section id="about" class="container">
        <div class="row section">

            <header class="sec-heading">
                <h2>Bonjour</h2>
                <span class="subheading">Enchanté !</span>
            </header>

            <div class="col-md-offset-1 col-md-5">
                <blockquote>Bienvenue sur cet espace de présentation où je vais tenter de décrire brièvement qui je suis.</blockquote>
            </div>
            <div class="col-md-5">
                <p>Je m'appelle Steve DAVID et j'ai {{ age }} ans. Je suis titulaire d'un master 2 en droit du travail après une école de commerce et je suis développeur web de profession. Pour le côté moins classique et terre-à-terre, c'est depuis tout petit que je possède ces facultés innées de perception aïgue des choses qui m'entourent.</p>
            </div>
        </div><!-- / .row -->
    </section>

    <div class="number-counters" style="background-position: 50% 81px;">
        <div class="container">
            <div id="counters" class="row count-wrapper">

                <!-- Item 1 -->
                <div class="col-md-3 mb-sm-100 count-item">
                    <span id="count-1" class="count-nbr">4</span>
                    <span class="count-text">diplômes obtenus</span>
                </div>

                <!-- Item 2 -->
                <div class="col-md-3 mb-sm-100 count-item">
                    <span id="count-2" class="count-nbr">2,835</span>
                    <span class="count-text">Emails Send</span>
                </div>

                <!-- Item 3 -->
                <div class="col-md-3 mb-sm-100 count-item">
                    <span id="count-3" class="count-nbr">46,930</span>
                    <span class="count-text">Pixels created</span>
                </div>

                <!-- Item 4 -->
                <div class="col-md-3 count-item">
                    <span id="count-4" class="count-nbr">102,890</span>
                    <span class="count-text">Happy clients</span>
                </div>

            </div><!-- / .row -->
        </div><!-- / .container -->
    </div>

    <section class="container section ft-x">

        <header class="sec-heading">
            <h2>Why chose us</h2>
            <span class="subheading">We provide high quality services</span>
        </header>

        <div class="row ws-s">

            <div class="col-md-4 ft-item">
                <!-- Item 1 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-star"></i>
                    <h5>Lots of features</h5>
                    <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div><!-- / .ft-item -->

                <!-- Item 4 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-rocket"></i>
                    <h5>Startup ready</h5>
                    <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div><!-- / .ft-item -->
            </div>


            <div class="col-md-4 ft-item">
                <!-- Item 2 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-cogs"></i>
                    <h5>Easily adjustible</h5>
                    <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div><!-- / .ft-item -->

                <!-- Item 5 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-hand-peace-o"></i>
                    <h5>Bootstrap based</h5>
                    <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div><!-- / .ft-item -->
            </div>


            <div class="col-md-4 ft-item">
                <!-- Item 3 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-support"></i>
                    <h5>Fast Support</h5>
                    <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div><!-- / .ft-item -->

                <!-- Item 6 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-heart"></i>
                    <h5>Made with love</h5>
                    <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div><!-- / .ft-item -->
            </div>

        </div><!-- / .row -->
    </section>
{% endblock %}

{% block js %}

    <script>
        jQuery(function($) {
            $('a.btn.btn-light.btn-small.wow').launchTunnel();
        });
    </script>


{% endblock %}