<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- Logo -->
    <a class="navbar-brand" href="{{ path('site_index') }}"><img class="navbar-logo" src="/assets/images/logo_stevedavid.png" alt="Steve DAVID, magnétiseur & médium" width="150" height="40"></a>
</div><!-- / .navbar-header -->