<footer class="footer-widgets">
    <div class="container">
        <div class="row section">

            <!-- About Us -->
            <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                    <h5 class="header-widget">A propos de moi</h5>
                    <p>Je m'appelle Steve David et je suis magnétiseur exerçant sur Montpellier. Je suis également médium et voyant.</p>

                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/steve.david.therapeute"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/stevedavid/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC7dE37VYBNnooSjLI77IybQ"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->

            <!-- Instagram Feed -->
            <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget gallery-widget">
                    <h5 class="header-widget">Actualités</h5>
                    <div class="fb-page" data-href="https://www.facebook.com/steve.david.therapeute" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-height="300" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/steve.david.therapeute" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/steve.david.therapeute">Steve DAVID - magnétiseur &amp; médium</a></blockquote></div>
                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->

            <!-- Twitter Feed -->
            <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget twitter-widget">
                    <h5 class="header-widget">Youtube</h5>
                    <div class="g-ytsubscribe" data-channelid="UC7dE37VYBNnooSjLI77IybQ" data-layout="full" data-theme="dark" data-count="default"></div>
                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->

            <!-- Newsletter -->
            <div class="col-md-3 col-sm-6">
                <div class="widget newsletter-widget">
                    <h5 class="header-widget">Laissez-moi votre email</h5>

                    <form action="post">
                        <div class="form-group">
                            <input type="email" name="w-newssletter" placeholder="Tapez ici">
                            <button type="submit"><i class="fa fa-send-o"></i></button>
                        </div>
                    </form>

                </div><!-- / .widget -->
            </div><!-- / .col-md-3 -->

        </div><!-- / .row -->
    </div><!-- / .container -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <small>Steve DAVID - magnétiseur & médium - SIRET 831 227 889 00019 - APE 86.90F</small>
                </div>

                <div class="col-sm-6">
                    <small><a href="#page-top" class="pull-right to-the-top">Retour<i class="fa fa-angle-up"></i></a></small>
                </div>

            </div><!-- / .row -->
        </div><!-- / .container -->
    </div><!-- / .copyright -->

</footer><!-- / .footer-widgets -->