<div class="modal fade" id="tunnel-step-1" tabindex="-1" role="dialog" aria-labelledby="tunnel-step-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contactez-moi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 43px; margin-top: -32px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Parfait ! Nous sommes qu'à quelques étapes de pouvoir échanger de vive voix sur vos besoins.</p>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <div class="col-xs-12">
                        <input type="submit" class="btn-ghost" data-choice="telephone" value="Je suis sur mon téléphone">
                        <p>
                            <small>appelez-moi directement</small>
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <input type="submit" class="btn-ghost" data-choice="ordinateur" value="Je suis sur un ordinateur">
                        <p>
                            <small>envoyez-moi une notification</small>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>