<div class="modal fade" id="tunnel-step-3" tabindex="-1" role="dialog" aria-labelledby="tunnel-step-3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contactez-moi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 43px; margin-top: -32px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Super ! Plus qu'une étape, je vais avoir besoin de votre nom et votre prénom.</p>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-prenom" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-nom" placeholder="Nom">
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <div class="col-xs-12">
                        <input type="submit" class="btn-ghost" data-action="ok" value="Envoyer"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>