<div class="modal fade" id="tunnel-step-4" tabindex="-1" role="dialog" aria-labelledby="tunnel-step-4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contactez-moi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 43px; margin-top: -32px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Parfait, merci !
                    {% if choice == 'telephone' %}
                        Vous pouvez m'appeller !
                    {% elseif choice == 'ordinateur' %}
                        Je vous rapelle aussi vite que possible !
                    {% endif %}
                </p>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <div class="col-xs-12">
                    {% if choice == 'telephone' %}
                        <button class="btn-ghost" data-dismiss="modal" data-action="ok" onclick="window.location = 'tel://0781350383'">Ca marche !</button>
                    {% elseif choice == 'ordinateur' %}
                        <button class="btn-ghost" data-dismiss="modal" data-action="ok">Ca marche !</button>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
